AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
DerivePointerAlignment: false
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: true
SpaceBeforeParens: Never
UseTab: Never